 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: HSLA(0, 0%, 65%, .5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.body{
  display: block;
  width: 350px;
  margin: 0 auto;
}

.input{
  border-radius: 5px;
  border: none;
  background-color: HSLA(0, 0%, 65%, 0.7);
  position: relative;
  padding-top: 15px;
  padding-bottom: 0px;
}
#button{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: HSLA(166, 97%, 37%, 0.4);
  position: absolute;
  top: 105px;
  right: 574px;
}
li{
  list-style-type: none;
  background-color: HSLA(166, 97%, 37%, .5);
  margin-top: 10px;
  border-radius: 15px;
}
.newItem{
 width: 100%;
  height: 30px;
  padding-top: 6px;
  padding-left: 10px;
  margin-left: -86px;
}

.box{
 float: left;
  display: block;
  width: 300px;
  margin: 50px;

}
.delete{
  float: right;
  margin-right: 10px;
  border-radius: 100%;
  border: none;
}
.done {
  float: right;
  border-radius: 100%;
  border: none;
}

.notDone{
  float: right;
  border-radius: 100%;
  border: none;
}

.count{
  float: right;
  padding: 100px;
  margin-right: 25%;
}

.green{
  color: white;
}

@media (max-width: 600px){
/*when under 600px*/
.box{
  position: relative;

}
.count{
position: absolute;
top: 50px;
left: 282px;
padding: 0;
margin-right: 0;
}

}
.completed{
  background-color: HSLA(57, 65%, 53%, 1);
}